@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;800&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Start Header design */

header {
    background-color: #212837;
    height: 530px;
    display: flex;
    flex-direction: column;
}

header nav {
    flex-basis: 40%;
    display: flex;
    height: 20%;
    padding-top: 20px;
    justify-content: space-between;
    margin: 0 100px;
}
header div {
    height: 80%;
    display: flex;
    flex-direction: row;
    margin: 0 100px;
}

.logo {
    text-decoration: none;
    color: #F9FAF8;
    font-weight: 800;
    font-size: 24px;
}

header nav ul {
    width: 400px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
header nav ul a {
    text-decoration: none;
    color: #E5E7EB;
    font-weight: 400;
    font-size: 18px;
}

.txt-intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    flex-basis: 100%;
}
.txt-intro p {
    padding-bottom: 8px;
    text-align: start;
}

.main-text {
    font-weight: 800;
    font-size: 30px;
    color: #F9FAF8;
    margin-bottom: 20px;
}

.secondary-text {
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 20px;
}

.txt-intro a {
    background-color: #3882F6;
    border-radius: 10px;
    color: #F9FAF8;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    padding: 15px 30px;
    margin-bottom: 20px;
}
.txt-intro a:hover {
    background-color: #6fa0ee;
}

.img-intro img {
    height: 250px;
    width: 400px;
    border-radius: 10px;
}
/* End Header design */

/* Start Explore design */
.explore h1 {
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    margin: 60px 0;
}

.explore .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.explore .container .box {
    width: 15%;
    margin-right: 30px;
}

.explore .container .box img {
    width: 100%;
    aspect-ratio: 3/2;
    margin-bottom: 7px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.explore .container .box p {
    text-align: center;
    color: #4D5563;
    font-weight: 600;
    font-size: 14px;
}

/* End Explore design */

/* Start of Quote design */

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.quote-container {
    width: 60%;
}

.quote-container p:first-child {
    font-size: 36px;
    color: #1f2937;
    margin-bottom: 10px;
}

.quote-container p:last-child {
    font-size: 22px;
    font-weight: 800;
    color: #1f2937;
    text-align: right;
}

/* End of Quote design */